<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>FQ24L007B GestContact</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
</head>
<body>
    <header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">
            <div class="container-fluid">
                <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
                    <ul class="navbar-nav flex-grow-1">
                        <li class="nav-item">
                            <a class="nav-link text-dark" href="~/home/index">FQ24L007B GestContact</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark" href="~/home/contact">Contact</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark" href="~/auth/login">S'authentifier</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark" href="~/auth/register">S'enregistrer</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark" href="~/contact/">Gérer ses contacts</a>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
    </header>

    <div class="container">
        <main role="main" class="pb-3">
           <h3>C'est ici que se fera la gestion de mes contacts</h3>
        </main>
    </div>

    <footer class="border-top footer text-muted">
        <div class="container">
            &copy; 2024 - Morre Thierry
        </div>
    </footer>
</body>
</html>
